*.egg
*.egg-info
*.pyc
*$py.class
*.pt.py
*.txt.py
*~
*.log
.python-version
env26/
env25/
env24/
env27/
jyenv/
pypyenv/
2xenv/
build/
dist/
.installed.cfg
.mr.developer.cfg
bin/
develop-eggs/
include/
lib/
src/

geckodriver.log