# Do not add personal preferences for virtual environments, IDEs, apps, OSes,
# and other chaff to the project. Instead update your user global .gitignore.
*.egg
*.egg-info
.eggs/
*.pyc
.tox/
[Ff]irefox*
chromedriver*
geckodriver*
pip-wheel-metadata/
