name: Build and test

on:
  # Build only on pushes to main or one of the release branches
  push:
    branches:
      - main
      - "[0-9].[0-9]+-branch"
    tags:
  # Build pull requests
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        py:
          - "3.6"
          - "3.7"
          - "3.8"
          - "3.9"
          - "pypy3"
        os:
          - "ubuntu-18.04"
        architecture:
          - x64
    name: "Python: ${{ matrix.py }}-${{ matrix.architecture }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    services:
      selenium:
        image: "selenium/standalone-firefox"
        ports:
          - 4444:4444
          - 5900:5900
    steps:
    - uses: actions/checkout@v2
    - name: Setup python
      uses: actions/setup-python@v2
      with:
          python-version: ${{ matrix.py }}
          architecture: ${{ matrix.architecture }}
    - name: Install tox
      run: |
        sudo apt-get update
        pip install tox
    # `localhost` did not work
    - name: Set URL environment variable
      run: |
        echo "URL=http://`hostname -i`:8523" >> $GITHUB_ENV
        echo "URL: "$URL
    - name: Run tox
      run: |
        tox -e py --
  lint:
    runs-on: ubuntu-18.04
    name: Lint the package
    steps:
    - uses: actions/checkout@v2
    - name: Setup python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
        architecture: x64
    - run: |
        pip install tox
        tox -e lint
